@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
	

*,
*::before,
*::after {
	box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
}

body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	position: relative;
    overflow-x: hidden; 		
}


h1, h2, h3 {
	text-align: left;	
}


a, a:hover, a:visited {
	text-decoration: none;
}


li {
	list-style: none;
	color: var(--white);
	line-height: 25px;
	cursor: pointer;

	&:hover {
		 border-bottom: 0.3px solid white;
		}
	}


	.hide-for-mobile {
	
		@include breakpoint-down(medium) {
			display: none;
		}
	}
			
	.hide-for-desktop {
	
		@include breakpoint-up(large) {
			display: none;
		}
	}
	
	// navbar class on-scroll
    .nav_scroll {
		position: fixed;
		background-color: black;
		transition: 500ms ease-in;
		width: 100%;
		padding: 40px 24px 40px 24px !important;
	
	}
		  
	
	
		
		
		

  

		
		

	// .mobile {
	// 	@include breakpoint-up(large) {
	// 		grid-template-columns:  1fr auto auto 1fr;
	// 		grid-template-rows: 183px 96px 221px;
	// 	}
	// }
			
	// .mob_image {
	// 	@include breakpoint-up(large) {
	// 		grid-column: 1 / span 3;
	// 		grid-row: 1 / 2;
	// 	}
	// }	
			
	// .mob_txt {
	// 	@include breakpoint-up(large) {
	// 		grid-column: 2 /span 3;
	// 		grid-row: 2 / span 2;
	// 	}
	// }	