@use '../util' as *;

html {
	font-size: 100%;
	// font-size: 62%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
	text-align: left;
	
}

a, a:hover, a:visited{
	text-decoration: none;
}


li {
	list-style: none;
	color: var(--white);
	line-height: 25px;
	cursor: pointer;

	&:hover {
		 border-bottom: 0.3px solid white;
		}
	}

	
	.hide-for-mobile {
	
		@include breakpoint-down(medium) {
			display: none;
			
			
		}
	}
		
	.hide-for-desktop {
	
		@include breakpoint(large) {
			display: none;
			
		
		}
	}