html {
	font-size: 100%;
	// font-size: 62%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
	text-align: left;
	
}

a, a:hover, a:visited {
	text-decoration: none;
}