@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
	font-family: var(--font-headings);
}

h1 {
	// font-size: 72px;
	// line-height:70px;
	// font-size:2.5rem;
	font-size: calc( 40px + (72 - 40) * (100vw - 375px) / (1440 - 375) );
	// line-height: calc( 38px + (70 - 38) * (100vw - 320px) / (1440 - 320) );
	// max-width: 570px;
	// max-width: clamp(270px, 51vw, 100%);
	// font-size: clamp(2.13rem, 6vw, 4.5rem);
	line-height: clamp(2.53rem, 6vw, 4.4rem);
	// max-width: clamp(270px, 51vw, 100%);
	// max-width: 570px;
	width: clamp(279px, 100%, 570px);
	font-weight: 300;
}

a, p, li {
	font-family: var(--font-paragraphs);
}

a,
a:visited,
a:active {
	text-decoration: none;
}
