@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
	font-family: var(--font-headings);
}

a, p, li {
	font-family: var(--font-paragraphs);
}

a,
a:visited,
a:active {
	text-decoration: none;
}
