
header {
    background-image:url("../../../images/desktop/image-hero.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    // background-color: black;
}

nav {
    max-width: 1110px;

     
}