
.banner {


  &__grid {
      max-width: 1111px;
      display: grid;
     
      grid-template-columns: 1fr;
      // padding-left: 6.4%;
      // padding-right: 6.4%;
 
      @media only screen and (min-width:722px) {
        			grid-template-columns:  1fr auto auto 1fr;
			       grid-template-rows: 183px 96px 221px;
      }


      .banner__grid_img {
        max-width: clamp(327px, 100%, 731px);
  img {
    width: 100%;
  }
        @media only screen and (min-width:722px) {
          grid-column: 1 / span 3;
          grid-row: 1 / 2;

          img {
            width: unset;
          }
        }
    
        }
       


        
      .banner__grid_text {
        
        width: clamp(327px, 100%, 541px);
        z-index: 1;
        background-color: #FFF;
        padding-top: 17.2%;
        padding-left: 17.2%;
        text-align: left;
        // margin-right: 17.2%;
        @media only screen and (min-width:722px) {
           grid-column: 2 /span 3;
           grid-row: 2 / span 2;
  
        
         }
          p {
            font-size: 15px;
            line-height: 25px;
          }
      }
    
  }
    
}  

