
.creations {
    margin-top:6rem; 
    
    
    &__content-wrapper {
        max-width: 1111px;
        width: 100%;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
        display: grid;
        grid-template-columns: 1fr;
        
     
        


        .creation-card {
            margin-bottom: 24px;

            &:hover {
                .creation-card {
                    &__img {
                        opacity: .25;
                    }
        
                    &__bg-title {
                        opacity: .25;
                    }
                }
        
                figure::before {
                    background: transparent;
                }
        
                figcaption {
                    color: black;
                }
            }
        
            &:focus {
                outline: 3px dotted black;
            }
        
            &__wrapper {
                position: relative;
                pointer-events: none;
                overflow: hidden;
            }
        
            figure {
                position: relative;
                width: 100%;
                height: 32vw;
                overflow: hidden;
        
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
                }
            }
        
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity .3s;
             
            }
        
            figcaption {
                position: absolute;
                bottom: 2.5rem;
                left: 2.5rem;
                z-index: 10;
                width: 16rem;
                color: white;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 3rem;
                line-height: 3rem;
                text-transform: uppercase;
                transition: .3s;
                pointer-events: none;
            }
        
            &:nth-child(4) figcaption {
                width: 10rem;
            }
        
            &__bg-title {
                position: absolute;
                top: 10rem;
                left: -50%;
                color:white;
                font-size: 20rem;
                text-transform: uppercase;
                opacity: 0;
            }
        }
        @media screen and (min-width:750px) {
            .creations__heading { grid-area: column-1; }
            .creations__grid    { grid-area: column-2; }
            .creations__link    { grid-area: column-3; }
                     
            grid-template-areas: "column-1 column-3"
                                 "column-2 column2";
       
        }
          .creations__grid {
              display: grid;

                @media screen and (min-width:750px) {

                    grid-template-columns:1fr 1fr;
                    gap: 24px;
                }

                @media screen and (min-width:999px) {
                  
                     grid-template-columns: repeat(4, 1fr);
                     gap: 30px;
                }
         
            }
              
            .creation-card {
                margin-bottom: 0;
            }      
            

        h2 {
            padding-bottom: 3rem;
            justify-self: center;
            
        }
        
        img {
            width: 100%;
        }
        
    }
    
}
    
    












