
.creations {
    margin-top:6rem; 
    
    
    .content-wrapper {
        
        padding-left: 1.563rem;
        padding-right: 1.563rem;
      
        display: grid;
        grid-template-columns: 1fr;

    
        h2 {
            padding-bottom: 3rem;
            justify-self: center;
            
        }
        
        img {
            width: 100%;
        }
        
    }
    
}
    












